<body class="body ps-3 pe-3 pb-3">
    <div class="container-prin  p-0">
      

      <div class="d-flex mt-2 pt-3 flex-wrap justify-content-center">
        <div>
          <div class="card my-4 shadow-lg p-3 mb-5 m-5" style="width: 48vw">
            <div class="card-body">
              <h5 class="card-title">Dirección de envío</h5>
              <hr
                class="border border-dark border-2 opacity-100"
                style="width: 11vw"
              />
              <h6 class="card-subtitle">Añadír dirección</h6>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Calle 124 # 89-98
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  Calle 85 # 90-69
                </label>
              </div>
            </div>
          </div>

          <div class="card shadow-lg m-5" style="width: 48vw">
            <div class="card-body">
              <h5 class="card-title">Medio de pago</h5>
              <hr
                class="border border-dark border-3 opacity-100"
                style="width: 11vw"
              />
              <h6 class="card-subtitle">+ Añadír metodo de pago</h6>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault1"
                  id="flexRadioDefault3"
                />
                <label class="form-check-label" for="flexRadioDefault3">
                  Tarjeta de crédito *5889
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault1"
                  id="flexRadioDefault4"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault4">
                  PSE
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault1"
                  id="flexRadioDefault5"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault4">
                  Paypall
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <article>
            <div class="d-flex flex-column gap-4 fs-3 m-4">
              <div
                class="text-black border-bottom border-3 border-dark fw-semibold"
              >
                Resumen de compra
              </div>

              <span class="col">2 Productos en el carro de compras</span>
              <div class="row">
                <div class="col">Subtotal</div>
                <div class="col">$12.000.659 COP</div>
              </div>

              <div class="row">
                <div class="col">IVA 19%</div>
                <div class="col">$220.000 COP</div>
              </div>

              <div class="row">
                <div class="col mt-2">Total</div>
                <div class="col mt-2"><b>$12.220.659 COP</b></div>
              </div>
              <a  routerLink="carrito-compras"><button class=" mx-5 btn1 ">Finalizar compra</button></a>
            </div>
          </article>
        </div>
        <div class=" text-start d-flex justify-content-center">
        <div class="row">
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex  align-items-center"
          >
            <img src="../../../../assets/images/CPU1.png" alt="" style="width: 11vw" />
            <div class="m-4">
              <b>
                <h4 accordion-body="mx-4 p-2 ">Combo gamer RGB</h4>
                <h5>$6’000.000COP</h5>
                <h5>Cantidad: 2</h5></b
              >
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <article
              style="background-color: #f1eeee"
              class="d-flex gap-5 flex-wrap justify-content-evenly mt-3">
              <div ><img src="/src/assets/images/CPU02.png" alt=""> </div>
              <div class="img-1"></div>
              <div class="img-2"></div>
              <div class="img-3"></div>
              <div class="img-4"></div>
              <div class="img-5"></div>
              <div class="img-6"></div>
              <div class="img-7"></div>
            </article>
          </div>
        </div>
    </div>
  </div>
 </div>
</body>