<body class="body ps-3 pe-3 pb-3 mt-4">
    <div class="container-prin  p-0">
      

      <div class="d-flex mt-5 pt-3 flex-wrap justify-content-center">
        <div>
          <div class="card my-4 shadow-lg p-3 mb-5 m-5 mt-5" style="width: 48vw">
            <div class="card-body">
              <h5 class="card-title">Dirección de envío</h5>
              <hr
                class="border border-dark border-2 opacity-100"
                style="width: 11vw"
              />
              <h6 class="card-subtitle">Añadír dirección</h6>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="direccion1"
                  id="flexRadioDefault1"
                  [(ngModel)]="opcionSeleccionada"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  {{finalizarService.direccion}}
                </label>
              </div>git a
              <div class="form-check" *ngIf="false" >
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  {{finalizarService.direccion}}
                </label>
              </div>
            </div>
          </div>

          <div class="card shadow-lg m-5" style="width: 48vw">
            <div class="card-body">
              <h5 class="card-title">Medio de pago</h5>
              <hr
                class="border border-dark border-3 opacity-100"
                style="width: 11vw"
              />
              <h6 class="card-subtitle">+ Añadír metodo de pago</h6>
              <div * ngIf="false" class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault1"
                  id="flexRadioDefault3"
                />
                <label  class=" form-check-label" for="flexRadioDefault3">
                  Tarjeta de crédito *5889
                </label>
              </div>
              <div * ngIf="false" class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault1"
                  id="flexRadioDefault4"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault4">
                  PSE
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault1"
                  id="flexRadioDefault5"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault4">
                  Paypall
                </label>
                <div class="img-3"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <article>
            <div class="d-flex flex-column gap-4 fs-3 m-4">
              <div
                class=" mt-5 border-bottom border-3 border-dark fw-semibold"
              >
                Resumen de compra
              </div>
        
              <span>{{arrayProductos.length}} Productos en el carro de compras</span>
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-between">
              <span>Subtotal</span> <span> ${{subtotal}}COP</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>IVA 19%</span> <span> ${{iva}}COP</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <span>Total</span> <span> ${{total}}COP</span>
          </div>
                   
          <div id="paypal-button-container">
            
            <button class=" mx-5 btn1" (click)="alert1(); verificarSeleccion()" >Finalizar compra</button></div>
          
            </div>
          </article>
        </div>
        <div class=" text-start d-flex justify-content-center">
        <div class="row">
          <div
            class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex  align-items-center"
          >
            
          </div>
          <div class="col-12">
            <article *ngIf="false"
              style="background-color: #f1eeee"
              class="d-flex gap-5 flex-wrap justify-content-evenly mt-3">
              <div ><img src="/src/assets/images/CPU02.png" alt=""> </div>
              <div class="img-1"></div>
              <div class="img-2"></div>
              <div class="img-3"></div>
              <div class="img-4"></div>
              <div class="img-5"></div>
              
            </article>
          </div>
        </div>
    </div>
  </div>
 </div>
</body>