
.bigcontainer{
    margin: 30px;
   

}
.linea-a{
  margin-top: 5px;
  margin-left: 3px;
  height: 30px;
  width: 3px;
  background-color: #02153E;
  box-shadow: 8px #666;
} 
.logo-nav{
    height: 50px;}

.borde-abajo {
        border-bottom: 1px;
        box-shadow: 0px 8px 6px -6px #02153E;
    }

    .buscar {
        border-color: #BD5349;
       border-radius: 20px;
       margin-top: 15px;
    
    }
    .contain-1{
     background-color: #02153E;
     width: 100%;
     height: 350px;
     margin-top: 100px;
     color: white;
    }
    .conta-a{
        width: 70%;
        display: flex;justify-content: center; flex-direction: column; text-align: center;
    }
    .Titulo-1{
      margin-top: 36px !important;
        font-size: 70px;
        font-weight: bold;
    }

    .linea-blanca{
        
        display: flex; align-items: center; justify-content: center;
        height: 3px;
      margin: 23px;
        background-color: white;
        box-shadow: 8px #666;
    }
    .texto-I{
        margin-top: 20px;
    }
    .color-a{
        color: #BD5349;
    }
    .color-b{
        color: #02153E;
    }
    .contain-2{
        width: 70%;
        
        display: flex;justify-content: center; flex-direction: column; text-align: center;
    }
    
    .bordea-1{
      margin-top: 40px;
        border-style:solid;
        border-width:6px;
        border-radius: 22px;
        border-top-color: #BD5349;
        border-bottom-color: #02153E ;
        padding: 15px!important ;
        height: 66px;
    }
    .tex-en{
      font-size: 30px;
      
      
    }
    .tex-a{
      margin-top: 46px;
        font-size: 27px;
        font-weight: bold;
    }
    .c-ubicanos{
        margin-top: 70px;
        
        width: 40%;
    }
    .c-imge{
        margin-top: 40px;
    margin-left: 180px;
        width: 50%;
    }
    .c-image{
        height: 390px;
    }

    .bac-g{
        background-image: url(/tecno-importaciones/src/assets/images/logo-1.jfif);
        background-repeat: no-repeat;
       
    }
    .container-mv{
        display: flex;
        gap: 2rem;
        margin-top: 3rem;
    }
    .mision{
        background-color: #02153E;
        width: 550px;
        height: 250px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    .vision{
        width: 550px;
        height: 250px;
        background-color: #02153E;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .tit{
      margin-top: 20px;
       display: flex;text-align: center;
    }

.linea-azul {
    margin-top: 20px;
    margin-left: 155px;
    height: 4px;
    width: 75%;
    background-color: #02153E;
    box-shadow: 8px #666;
 
}

.linea-azul-2 {
    margin: 60px;
    height: 6px;
    width: 92%;
    background-color: #02153E;
    box-shadow: 8px #666;
 
}

.conta-equi{
margin-top: 80px;
}


.im-e{
    margin: 10px;
height: 150px;
border-style:solid;
border-width:5px;
border-color: #02153E;
}

.name-1{
    margin: 10px;
font-size: 25px;
font-weight: bold;
color: #02153E;
}

.ocupation-1{
    font-size: 23px;
    color: #02153E;
}















































.footer-final {
  background-color: #b9cbd6;
  margin-top: 40px;
}
.linea-azul-pequeña {
  margin-top: 20px;

  height: 3px;
  width: 250px;
  background-color: #02153e;
  box-shadow: 8px #666;
}

.contacto {
  margin-left: 65px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cont {
  font-weight: bold;
}
.redes {
  height: 30px;
}
.redes-1 {
  margin-top: 10px;
}
.opciones-1 {
  margin-top: 90px;
  margin-left: 130px;
}
.opciones-2 {
  margin-top: 90px;
  margin-left: 40px;
}
.codico-qr {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.logo-footer {
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 8px;
}
.img-2l {
  height: 150px;
}
.marcas {
  margin-left: 5rem;
  gap: 40px;
}
.borde-rojo-abajo {
  width: 100%;
  height: 3vh;
  background-color: #bd5349;
}
.nav-custom {
  width: 95.9%;
  height: 4rem;
  margin-left: 30px;
}

.logo-footer-img {
  height: 120px;
  width: 120px;
}

.marcas-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 53rem;
  gap: 20px;
  margin-top: 3rem;
}

h5 {
  font-size: 3rem;
}
@media (max-width: 940px) {
}
.logo-footer {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 8px;
}
.logo-footer-img {
  height: 90px;
  width: 90px;
}
.codico-qr {
  height: 100px;
  width: 100px;
}

h5 {
  font-size: 1rem;
}

 @media (max-width: 940px) {

    .hide {
      visibility: hidden;
      font-size: 0;
      width: 0;
      height: 0;
    }
  
    .no-gap {
      gap: 0 !important;
    }
  }
 

  @media (max-width:940px){
    .Titulo-1{
      
        display: flex; align-items: center;
        font-size: 30px;
        font-weight: bold;
    }

    .linea-blanca{
      display: flex; align-items: center;
        height: 3px;
        background-color: white;
        box-shadow: 8px #666;
    }
    .texto-I{
       
        font-size: 20px;
    }
    
    .contain-3{
      display: flex;justify-content: center;flex-direction: column;
    }
    .c-ubicanos{
      width: 90%;
    }
    .l-m{
      display: flex;flex-direction: column;
    }
    .c-image{
      height: 199px;
      margin-left: -184px;
    }
    .tex-a{
      font-size: 16px;
    }
    .mision{
      width: 325px;
    margin-left: 8px;
    }
    .vision{
      width: 325px;
    margin-left: 8px;
    }
    .linea-azul {
      margin-top: 20px;
      margin-left: 45px;
}
  }
@media(max-width:940px){
.conta-equi{
  display: flex;flex-direction: column; align-items: center;
}
.linea-azul-2 {
  margin:14px ;
  
}
.con-b{
  display: flex;justify-content: center;align-items: center;
  flex-direction: column;
  margin-left: -50px;
}
.c-f{
  margin-left:10% ;
  margin-bottom: 50px;
}
.cont-e-i{
  display: flex;justify-content: center;align-items: center; flex-direction: column;
}
.im-e {
  margin: 10px;
  height: 202px;
}

}
@media (max-width:1300px){
.flex-column-m {
flex-direction: column;
}
}
@media(max-width:520px){
  .bac-g{
    background-image: url(/tecno-importaciones/src/assets/images/logo-1.jfif);
    background-repeat: no-repeat;
    background-size: 380px;
    
  }
}