<div class="card mb-3 text-bg-light" style="min-width: 700px; max-width: 700px">
  <div class="row g-0">
    <div class="col-md-4 d-flex align-content-center justify-content-center" style="min-height: 240px; max-height: 200px; overflow:hidden;">
      <img
        src="{{ item.image[0] }}"
        class="img-fluid rounded-start ms-1"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.price }}</p>
        <a href="detalles-producto.html" class="btn btn-primary helvetic me-2 mt-4"
          >Ver detalle</a
        >
        <a href="detalles-producto.html" class="btn btn-primary helvetic mt-4"
          >Agregar al carrito</a
        >
      </div>
    </div>
  </div>
</div>
