<nav class="navbar navbar-expand-lg bg-light fixed-top borde-abajo">
    <div class="container-fluid">
      <a href="home.html"
        ><img
          class="logo-nav"
          src="../../assets/images/logo-horizontal.png"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'/comercio'" 
              >Componentes PC</a
            >
          </li>
          <div class="linea-a"></div>
          <li class="nav-item">
            <a class="nav-link active" href="desarrollo.html">Desarrollo Web</a>
          </li>
          <div class="linea-a"></div>
        </ul>
        <form class="d-flex" role="search">
          <div class="input-group mb-3">
            <input
              type="text"
              class="buscar form-control"
              placeholder="Buscar"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <span
              class="buscar input-group-text material-symbols-outlined"
              id="basic-addon2"
            >
              search
            </span>
          </div>
        </form>
        
  
        <div div matBadge="{{cartCant}}" matBadgeOverlap="true" class="demo-section me-3">
          <a href="tus-compras.html"
            ><button class="border border-0 bg-light" type="">
              <img
                class="logo-nav"
                src="../../assets/images/logo-compras.png"
                alt=""
              /></button
          ></a>
        </div>
        <div>
          <a [routerLink]="'/usuarios/registro'"
            ><button class="border border-0 bg-light" type="">
              <img
                class="logo-nav"
                src="../../assets/images/login.png"
                alt=""
              /></button
          ></a>
        </div>
      </div>
    </div>
  </nav>  