<p>form works!</p>
<div class="container mt-5">
  <table class="table table-striped border">
    <thead class="text-center">
      <th class="p-3 bg-dark text-white">Usuario</th>
      <th class="p-3 bg-dark text-white">Id</th>
      <th class="p-3 bg-dark text-white">Documento</th>
      <th class="p-3 bg-dark text-white">Nombre</th>
      <th class="p-3 bg-dark text-white">Apellidos</th>
      <th class="p-3 bg-dark text-white" colspan="2">Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of adminUserService.allUsers">
        <td>{{ user.username }}</td>
        <td>{{ user._id }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.dateBirth }}</td>
        <td>
          <!-- <a class="btn btn-danger" (click)="deleteUser(user._id || '')" -->
          <a class="btn btn-danger">Eliminar</a>
        </td>
        <td>
          <!-- <a class="btn btn-warning" (click)="updateUser(user)">Editar</a> -->
          <a class="btn btn-warning">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
