
<div class="container">
  <div class="row">
    <div class="col">
      <!-- formulario -->
      <form #userForm="ngForm" (ngSubmit)="createOrUpdateUser(userForm)">
        <div class="d-flex flex-column gap-3">
          <div class="d-flex justify-content-center">
            <h1>DATOS</h1>
          </div>
          <div class="d-flex flex-column flex-sm-row gap-3">
            <input
              hidden
              name="_id"
              #_id="ngModel"
              [(ngModel)]="adminUserService.userToCreate._id"
              type="text"
            />
            <input
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="adminUserService.userToCreate.nombre"
              type="text"
              placeholder="Nombre"
            />
            <input
              name="email"
              #email="ngModel"
              [(ngModel)]="adminUserService.userToCreate.email"
              type="text"
              placeholder="Correo"
            />
          </div>

          <div class="d-flex gap-3 flex-column flex-md-row">
            <input
              class="icon"
              name="username"
              #username="ngModel"
              [(ngModel)]="adminUserService.userToCreate.username"
              type="text"
              placeholder="Apodo"
            />
            <input
              class="icon"
              name="direccion"
              #direccion="ngModel"
              [(ngModel)]="adminUserService.userToCreate.direccion"
              type="text"
              placeholder="Dirección"
            />
            <input
              class="icon"
              name="ciudad"
              #ciudad="ngModel"
              [(ngModel)]="adminUserService.userToCreate.ciudad"
              type="text"
              placeholder="Ciudad"
            />
            <input
              class="icon"
              name="departamento"
              #departamento="ngModel"
              [(ngModel)]="adminUserService.userToCreate.departamento"
              type="text"
              placeholder="Departamento"
            />
            <input
              name="contrasena"
              #password="ngModel"
              [(ngModel)]="adminUserService.userToCreate.contrasena"
              type="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="d-flex gap-3 flex-column flex-md-row">
            <div class="flex-grow-1">
              <input
                name="cumpleanos"
                #cumpleanos="ngModel"
                [(ngModel)]="adminUserService.userToCreate.cumpleanos"
                type="date"
                placeholder="Cumpleaños"
              />
            </div>
            <div class="flex-grow-1">
              <input
                class="icon"
                name="telefono"
                #telefono="ngModel"
                [(ngModel)]="adminUserService.userToCreate.telefono"
                type="text"
                placeholder="Teléfono"
              />
            </div>
          </div>
          <div class="d-flex flex-column flex-sm-row gap-3">
            <select
              class="form-select"
              name="rol"
              #rol="ngModel"
              [(ngModel)]="adminUserService.userToCreate.rol"
            >
              <option selected>Rol</option>
              <option value="Admin">Administrador</option>
              <option value="User">Cliente</option>
            </select>
            <select
              class="form-select"
              name="metodosDePago"
              #metodosDePago="ngModel"
              [(ngModel)]="adminUserService.userToCreate.metodosDePago"
            >
              <option selected value="0" disabled> Métodos de pago</option>
              <option value="1">Tarjeta de crédito</option>
              <option value="2">Tarjeta de débito</option>
              <option value="3">Transferencia</option>
            </select>
          </div>
          <button class="text-info rounded-5" type="submit">
            <i class="fa-solid fa-paper-plane pe-1"></i> Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="container mt-5">
  <table class="table table-striped border">
    <thead class="text-center">
      <th class="p-3 bg-dark text-white">Apodo</th>
      <th class="p-3 bg-dark text-white">Correo</th>
      <th class="p-3 bg-dark text-white">Nombre</th>
      <th class="p-3 bg-dark text-white">Ciudad</th>
      <th class="p-3 bg-dark text-white">Telefono</th>
      <th class="p-3 bg-dark text-white" colspan="2">Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of adminUserService.allUsers">
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.ciudad }}</td>
        <td>{{ user.telefono }}</td>
        <td>
          <a class="btn btn-danger" (click)="deleteUser(user._id || '')"
            >Eliminar</a
          >
        </td>
        <td>
          <a class="btn btn-warning" (click)="updateUser(user)">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
