<!--imagen-->
<div class="contenedor  ">
    

<div >
    <img class="imagen"src="../../../../assets/images/404page.jpg" alt="">
</div>
<div class="contenedor-a">
    <p class="titulo">PAGE NOT FOUND </p>
    <p class="texto-1">We're sorry, the page you requested could not be found</p>
    <p class="texto">Please go back to the homepage</p>
</div>
<div class="boton d-flex align-items-center justify-content-center">
    <a class=" text-decoration-none "[routerLink]="'/principal/home'">Go Home</a>
</div>
</div>