
<div class=" base ">

    <div class="imag_logo" style="background-image: url(../../../../assets/images/Asset1.png)">
        <div class="cont-tex align-items-center ">
            <div class="title">
                <div class="title-aviso mt-lg-5">
                    <h1>
                        AVISO DE PRIVACIDAD Y AUTORIZACIÓN EXPRESA PARA EL TRATAMIENTO DE
                        DATOS PERSONALES
                    </h1>
                </div>
            </div>
            <div class="text">
                <div>
                    <h4>
                        <a href=""> TECNO IMPORTACIONES SAS </a>identificada con el NIT.
                        1.120.372.476 domiciliada y ubicada en Bogotá - Colombia en la CL 127c
                        # 03 – 60 LC 03, teléfono 322 398 9126 y página web:
                        <a href=""> www.tecno-imporraciones.com.co </a> le informa que: como
                        responsable del tratamiento de la información personal que usted
                        suministra en virtud de las operaciones que solicite o celebre con la
                        Entidad, se incluye la recolección, almacenamiento, uso y circulación
                        de la misma bajo medidas de seguridad técnicas, físicas y
                        administrativas a fin de impedir que terceros no autorizados accedan a
                        los datos.
                    </h4>
                </div>
                <div>
                    <h4>
                        La información obtenida se utilizará para cumplir con los establecido
                        en la
                        <a href="https://normograma.mintic.gov.co/mintic/docs/resolucion_mintic_1124_2020.htm">Resolución
                            1124 de 2020</a>
                        y las demás normas que complementen su marco jurídico operacional
                        como: A) Ser responsable por cualquier actividad que se lleve a cabo
                        bajo su registro. B) Ser responsable de la seguridad de su contraseña.
                        C) No abusar, acosar, amenazar o intimidar a otros usuarios del Sitio
                        Web ya sea a través de los chats, foros, blogs o cualquier otro
                        espacio de participación. , así como las actividades que ayuden a
                        desarrollar y cumplir con el mandato legal asignado D) Evaluar la
                        satisfacción con la información y expuesta en la página y con la
                        atención del servicio, E) Realizar estudios, encuestas y diagnósticos
                        por sectores económicos y de competitividad, F) Realizar actividades
                        de marketing o prospección comercial G) Realizar la preinscripción o
                        inscripción al listado de proveedores, realizar estudios de mercado
                        y/o remitir convocatorias para participar en los procesos de
                        contratación de bienes y/o servicios de acuerdo con el Estatuto de
                        Contratación de
                        <a href="">TECNO IMPORTACIONES SAS</a> Las anteriores finalidades se
                        podrán realizar a través de medios físicos, electrónicos o
                        telefónicos; H) Generar estadísticas e informes, I) Transmitirlos a
                        nuestros aliados estratégicos, afiliados, otras áreas TI o filiales.
                    </h4>
                </div>
                <div>
                    <h4>
                        Usted podrá consultar inquietudes o dudas sobre el manejo de daros en
                        la página del ministerio de tele comuniones e información
                        <a
                            href="
                https://www.mintic.gov.co/portal/inicio/Secciones-auxiliares/Politicas/2627:Politicas-de-Privacidad-y-Condiciones-de-Uso">
                            MinTic:https://www.mintic.gov.co/</a>
                        con el tratamiento de los datos, presentar sus solicitudes y/o ejercer
                        sus derechos puede escribirnos al correo
                        servicioalcliente@tecno-imprtaciones.com.co o hacerlo en cualquiera de
                        nuestras sedes, en cumplimiento con lo descrito en el
                        <a href="https://www.suin-juriscol.gov.co/viewDocument.asp?ruta=Decretos/30019935">Artículo
                            2.2.2.25.4.1 del Decreto 1074 de 2015.</a>
                    </h4>
                </div>
                <div>
                    <h4>
                        Así mismo, TI le informa que sus derechos como titular de datos
                        personales son: (i) Acceder en forma gratuita a los datos
                        proporcionados que hayan sido objeto de tratamiento. (ii) Conocer,
                        actualizar y rectificar su información frente a datos parciales,
                        inexactos, incompletos, fraccionados, que induzcan a error, o a
                        aquellos cuyo tratamiento esté prohibido o no haya sido autor izado.
                        (iii) Solicitar prueba de la autorización otorgada. (iv) Presentar
                        ante la Superintendencia de Industria y Comercio (SIC) quejas por
                        infracciones a lo dispuesto en la normatividad vigente. (v) Revocar la
                        autorización y/o solicitar la supresión del dato, siempre que no
                        exista un deber legal o contractual que impida eliminarlos. (vi)
                        Abstenerse de responder las preguntas sobre datos sensibles.
                    </h4>
                </div>
                <div>
                    <h4>
                        Leído lo anterior, declaro ser el titular de la información. Al
                        diligenciar los formularios de registro voluntariamente autorizo de
                        manera previa, explícita e inequívoca a la TI para el tratamiento de
                        los datos personales suministrados por mi persona dentro de las
                        finalidades legales, contractuales, comerciales aquí contempladas,
                        indicando que es completa, confiable, veraz, exacta y verídica.
                    </h4>
                </div>
            </div>
        </div>
    </div>

</div>
