<app-nav-bar></app-nav-bar>
<section class="d-flex w-100 mt-5">
  <!-- barra lateral con los filtros de busqueda y categorias -->
  <aside
    class="d-flex m-4 mt-5 bg_gray rounded obr d-none d-sm-none d-md-block d-lg-block d-xl-block pt-5"
  >
    <app-aside
      (productosMostrarChange)="getporductosMostrar($event)"
      [RangoPrecios]="rangosPrecios"
      (filtroPrecio)="filtroPrecio($event)"
    ></app-aside>
  </aside>
  <!-- seccion de vista de productos -->
  <section class="container-fluid justify-content-center">
    <!-- barra de ordenar y seleccion de tipo de vista -->
    <div class="row d-flex border-6 w-auto pe-4 mb-5">
      <div class="col-1 col-sm-1 col-md-2 col-lg-4 col-xl-6"></div>
      <div
        class="col-11 col-sm-11 col-md-10 col-lg-8 col-xl-6 d-flex justify-content-end border-selection mt-5 pt-2 ps-4"
      >
        
        <select
          name="seleccionOrdenar"
          class="form-control m-0 ms-3 me-5 mb-2 helvetic"
          id="ordenar-por"
          [(ngModel)]="opcionOrdenar"
          (change)="ordenar()"
        >
          <option value="ordenar">Ordenar por</option>
          <option value="nombre-A-Z">Nombre de la A a la Z</option>
          <option value="nombre-Z-A">Nombre de la Z a la A</option>
          <option value="precio-ascendente">Precio ascendente</option>
          <option value="precio-descendente">Precio descendente</option>
        </select>
        <div class="me-2 mt-1">
          <span
            class="material-symbols-outlined fs-1 menu"
            (click)="horVerchanger(true)"
          >
            menu
          </span>
        </div>
        <div class="me-2 mt-1">
          <span
            class="material-symbols-outlined fs-1 apps"
            (click)="horVerchanger(false)"
          >
            apps
          </span>
        </div>
        <div class="mt-1">
          <button
            class="navbar-toggler d-block d-sm-block d-md-none d-lg-none d-xl-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebar"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="material-symbols-outlined fs-1 barra">
              more_horiz
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- barra lateral desplegable para mostrar la barra de categorias y filtros -->
    <div class="collapse navbar-collapse" id="sidebar">
      <app-aside-collapse
        (productosMostrarChange)="getporductosMostrar($event)"
        (filtroPrecio)="filtroPrecio($event)"
      ></app-aside-collapse>
    </div>
    <!-- visualizacion de elementos -->
    <div class="row w-100 d-flex flex-wrap mb-5 justify-content-center">
      <div
        *ngIf="!horVer"
        class="col-12 d-flex flex-wrap align-content-around justify-content-around"
      >
        <app-square-card
          (cartAdded)="cartAdded()"
          *ngFor="let item of productosMostrar"
          [item]="item"
        ></app-square-card>
      </div>
      <div
        *ngIf="horVer"
        class="col-12 d-flex flex-wrap align-content-around justify-content-around"
      >
        <app-horizontal-card
          (cartAdded)="cartAdded()"
          *ngFor="let item of productosMostrar"
          [item]="item"
        ></app-horizontal-card>
      </div>
    </div>
    <!-- boton para expandir los items que se visualizan en pantalla -->
    <div class="row">
      <div
        class="col-12 d-flex justify-content-center align-items-center w-100"
      >
        <button
          type="button"
          class="btn btn-botton btn-lg mb-4 helvetic"
          (click)="mostrarMas()"
        >
          Ver mas productos
        </button>
      </div>
    </div>
  </section>
</section>
<!-- separador entre el section y el footer -->
<div class="w-100">
  <div class="separator"></div>
</div>
<app-footer></app-footer>
<app-logo-whats></app-logo-whats>
