<app-nav-bar></app-nav-bar>
<section class="d-flex w-100 mt-5">
  <!-- barra lateral con los filtros de busqueda y categorias -->
  <aside
    class="d-flex flex-column m-4 mt-5 bg_gray p-5 rounded obr d-none d-sm-none d-md-block d-lg-block d-xl-block"
  >
    <span
      class="fs-4 fw-bold obr obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic"
      >Marcas</span
    >
    <ul class="obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic">
      <li *ngFor="let marca of marcas">{{ marca }}</li>
    </ul>
    <span
      class="fs-4 fw-bold obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic"
      >Precio</span
    >
    <ul class="obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic">
      <li *ngFor="let precioRango of precioRangos">{{ precioRango }}</li>
    </ul>
    <span
      class="fs-4 fw-bold obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic"
      >Categorias</span
    >
    <ul class="obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic">
      <li *ngFor="let categoria of categorias"> {{ categoria }} </li>
    </ul>
  </aside>
  <!-- seccion de vista de productos -->
  <section class="container-fluid justify-content-center">
    <!-- barra de ordenar y seleccion de tipo de vista -->
    <div class="row d-flex border-6 w-auto pe-4 mb-5">
      <div class="col-1 col-sm-1 col-md-2 col-lg-4 col-xl-6"></div>
      <div
        class="col-11 col-sm-11 col-md-10 col-lg-8 col-xl-6 d-flex justify-content-end border-selection mt-5 pt-2 ps-4"
      >
        <label for="ordenar-por" class="mb-2 helvetic">Ordenar por:</label>
        <select
          class="form-control m-0 ms-3 me-5 mb-2 helvetic"
          id="ordenar-por"
        >
          <option value="nombre">Nombre</option>
          <option value="precio-ascendente">Precio ascendente</option>
          <option value="precio-descendente">Precio descendente</option>
          <option value="relevancia">Relevancia</option>
        </select>
        <div class="me-2 mt-1">
          <span class="material-symbols-outlined fs-1 menu"> menu </span>
        </div>
        <div class="me-2 mt-1">
          <span class="material-symbols-outlined fs-1 apps"> apps </span>
        </div>
        <div class="mt-1">
          <button
            class="navbar-toggler d-block d-sm-block d-md-none d-lg-none d-xl-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebar"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="material-symbols-outlined fs-1 barra">
              more_horiz
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- barra lateral desplegable para mostrar la barra de categorias y filtros -->
    <div class="collapse navbar-collapse" id="sidebar">
      <span class="fs-4 fw-bold helvetic">Marcas</span>
      <ul class="helvetic">
        <li *ngFor="let marca of marcas">{{ marca }}</li>
      </ul>
      <span class="fs-4 fw-bold helvetic">Precio</span>
      <ul class="helvetic">
        <li>$0 a $200.000</li>
        <li>$200.000 a $400.000</li>
        <li>$400.000 a $600.000</li>
        <li>$600.000 en adelante</li>
      </ul>
      <span class="fs-4 fw-bold helvetic">Categorias</span>
      <ul class="helvetic">
        <li>Discos duros</li>
        <ul class="helvetic">
          <li>HDD</li>
          <li>SSD</li>
          <li>M.2</li>
        </ul>
        <li>Memorias RAM</li>
        <li>Fuentes de poder</li>
        <li>Motherboards</li>
        <li>Cajas</li>
        <li>Procesadores</li>
      </ul>
    </div>
    <!-- visualizacion de elementos -->
    <div class="row w-100 d-flex flex-wrap mb-5 justify-content-center">
      <div class="col-12 d-flex flex-wrap align-content-around justify-content-around">
        <app-square-card
          *ngFor="let item of productosMostrar"
          [item]="item"
        ></app-square-card>
      </div>
    </div>
    <!-- boton para expandir los items que se visualizan en pantalla -->
    <div class="row">
      <div
        class="col-12 d-flex justify-content-center align-items-center w-100"
      >
        <button type="button" class="btn btn-botton btn-lg mb-4 helvetic">
          Ver mas productos
        </button>
      </div>
    </div>
  </section>
</section>
<!-- separador entre el section y el footer -->
<div class="w-100">
  <div class="separator"></div>
</div>
<app-footer></app-footer>
<app-logo-whats></app-logo-whats>
