.expand:hover{
    cursor: pointer;
}
li:hover{
    cursor: pointer;
    color: rgb(124, 124, 124);
}
.eliminar-filtros{
    border-color: black;
    border-radius: 10px;
    border: 2px !important;
}