<span
  class="fs-4 fw-bold obr obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic ms-5"
  >Marcas</span
>
<ul
  class="obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic list-group-flush ms-3"
>
  <li
    *ngFor="let marca of marcas"
    class="list-group-item"
    (click)="emitProductosMostrarChange('marca', marca)"
  >
    {{ marca }}
  </li>
  <span
    *ngIf="expand"
    (click)="expandChanger(false)"
    class="material-symbols-outlined expand list-group-item"
  >
    expand_more
  </span>
  <span
    *ngIf="!expand"
    (click)="expandChanger(true)"
    class="material-symbols-outlined list-group-item"
  >
    expand_less
  </span>
</ul>
<span
  class="fs-4 fw-bold obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic ms-5"
  >Precio</span
>
<ul
  class="obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic list-group-flush ms-3"
>
  <li *ngFor="let precioRango of precioRangos" class="list-group-item">
    {{ precioRango }}
  </li>
</ul>
<span
  class="fs-4 fw-bold obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic ms-5"
  >Categorias</span
>
<ul
  class="obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic list-group-flush ms-3"
>
  <li
    *ngFor="let categoria of categorias"
    class="list-group-item"
    (click)="emitProductosMostrarChange('categoria', categoria)"
  >
    {{ categoria }}
  </li>
</ul>
<button
  class="btn btn-dark ms-5 mt-3"
  *ngIf="filtros"
  (click)="eliminarFiltros()"
>
  <span
    class="fs-5 fw-bold obr d-none d-sm-none d-md-block d-lg-block d-xl-block helvetic"
    >Eliminar filtros</span
  >
</button>
