.contenedorPrincipal {
    height: 100vh;
    width: 100%;
    background-color: #bd5349;
  }
  
  .waterMark {
    background: url("..\..\..\..\assets\images\waterMark.png ");
    background-position: center;
    background-size: 30rem;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: 1;
  }
  
  .sizeLogoTechBox {
    width: 115px;
    height: 115px;
  }
  
  .logoTech {
    background: url("..\..\..\..\assets\images\LOGO-TECH-IMPO TI-02.png");
    width: 115px;
    height: 115px;
    background-size: 18rem;
    background-position: center;
    z-index: 3;
  }
  
  .mainSize {
    height: 36rem;
    width: 33rem;
    background-color: #e0d5d4;
    position: relative;
    z-index: 2;
  }
 
  
  
  .divLogoTechPosition {
    z-index: 3;
    left: 50%;
    top: 30%;
  }
  
  .mtn1 {
    margin-bottom: 1rem;
  }
  
  .logoTI {
    background: url("..\..\..\..\assets\images\Mesa de trabajo 1.png");
    height: 50px;
    width: 210px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .size {
    height: 165px;
    width: 175px;
  }
  
  .btnIngresar {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #bd5349 !important;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
  }
  
  .font{
    color: #02153e;
    font-family: Helvetica;
    font-weight: 900;
    font-size: smaller;
  }

  .linea-a{
    margin-top: 5px;
    margin-left: 3px;
    height: 30px;
    width: 3px;
    background-color: #02153E;
    box-shadow: 8px #666;
  } 
  .logo-nav {
    height: 50px;
  }
  .borde-abajo {
    border-bottom: 1px;
    box-shadow: 0px 8px 6px -6px #02153e;
  }
  
  .buscar {
    border-color: #bd5349;
    border-radius: 20px;
  }
  
  .footer-final {
    background-color: #b9cbd6;
    margin-top: 40px;
  }
  .linea-azul-pequeña {
    margin-top: 20px;
  
    height: 3px;
    width: 250px;
    background-color: #02153e;
    box-shadow: 8px #666;
  }
  
  .contacto {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .cont {
    font-weight: bold;
  }
  .redes {
    height: 30px;
  }
  .redes-1 {
    margin-top: 10px;
  }
  .opciones-1 {
    margin-top: 90px;
    margin-left: 130px;
  }
  .opciones-2 {
    margin-top: 90px;
    margin-left: 40px;
  }
  .logo-footer {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 8px;
  }
  .img-2l {
    height: 150px;
  }
  
  .borde-rojo-abajo {
    width: 100%;
    height: 5vh;
    background-color: #bd5349;
  }
  
  .fondo {
    background-color: #bd5349;
  }
  .contenedor {
    min-width: 100%;
  }
  .h-nav {
    height: 50px;
  }
  .bg-white {
    background-color: white;
  }
  .borde_abajo_sombra {
    border-bottom: 1px solid;
    box-shadow: 0px 8px 6px -6px #666;
  }
  .bg_gray {
    background-color: #d9dce2ad;
  }
  .h-5 {
    height: 5%;
  }
  .border-selection {
    border: 2px solid;
    border-radius: 30px;
  }
  .menu:hover {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
  }
  .apps:hover {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
  }
  .barra:hover {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
  }
  .image-bg-size {
    width: 100%;
    height: 6rem;
    margin-top: -7rem;
    margin-bottom: 2%;
  }
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 1px solid black;
  }
  il:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 1px solid black;
  }
  
  #sidebar {
    position: absolute;
    top: 50px; /* ajustar según la altura del navbar */
    left: -250px;
    width: 250px;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    background-color: #f8f9fa;
    border-radius: 0px 20px 20px 0px;
    z-index: 100;
  }
  #sidebar.show {
    left: 0;
  }
  .btn-botton {
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  }
  .separator {
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    height: 5px;
    border-radius: 0px 0px 40px 0px;
  }
  .input-registro {
    border-radius: 30px !important;
    border: 3px solid !important;
    border-image: linear-gradient(to top, #bd5349, black) !important;
    border-image-slice: 3 !important;
  }
  .btn-login {
    color: #bd5349;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.3);
    padding: 2% 5% 2% 5%;
  }
  .btn-login:hover {
    background-color: rgb(221, 221, 221);
    color: #bd5349;
  }
  .btn-reg {
    color: white;
    background-color: #bd5349;
    border-radius: 40px;
    box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.3);
    padding: 1% 6% 2% 6%;
  }
  .btn-reg:hover {
    color: white;
    background-color: #a5473f;
  }
  .logo-mundo-fondo {
    opacity: 20%;
    width: 60%;
    position: absolute;
    align-self: center;
    justify-content: center;
    margin-top: 12%;
    margin-left: 15%;
    z-index: 0;
  }
  .z-index-99 {
    z-index: 2 !important;
  }
  .w-logo-ti {
    width: 150px;
  }
  .con-logo-sup {
    border: 2px solid black;
    box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: -120px;
    z-index: 100;
    margin-top: 85px;
  }
  .text-bienve {
    font-size: 500%;
    color: white;
  }
  .text-reg {
    font-size: 600%;
  }
  .footer-final {
    background-color: #b9cbd6;
    margin-top: 40px;
  }
  .linea-azul-pequeña {
    margin-top: 20px;
  
    height: 3px;
    width: 250px;
    background-color: #02153e;
    box-shadow: 8px #666;
  }
  
  .contacto {
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .cont {
    font-weight: bold;
  }
  .redes {
    height: 30px;
  }
  .redes-1 {
    margin-top: 10px;
  }
  .opciones-1 {
    margin-top: 90px;
    margin-left: 130px;
  }
  .opciones-2 {
    margin-top: 90px;
    margin-left: 40px;
  }
  .codico-qr {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  .logo-footer {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 8px;
  }
  .img-2l {
    height: 150px;
  }
  
  .borde-rojo-abajo {
    width: 100%;
    height: 3vh;
    background-color: #bd5349;
  }
  
  .logo-footer-img {
    height: 120px;
    width: 120px;
  }
  
  @media (max-width: 1340px) {
    }
    .logo-footer {
      height: 100px;
      width: 100px;
      background-color: white;
      border-radius: 8px;
    }
    .logo-footer-img {
      height: 90px;
      width: 90px;
    }
    .codico-qr {
      height: 100px;
      width: 100px;
    }
  
    h5 {
      font-size: 1rem;
    }
  
  @media (max-width: 1100px) {
    .con-logo-sup {
      border: 2px solid black;
      box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.3);
      margin-bottom: -80px;
      z-index: 100;
      margin-top: 85px;
    }
    .text-bienve {
      font-size: 400%;
      color: white;
    }
    .text-reg {
      font-size: 520%;
    }
  }
  
  @media (max-width: 970px) {
  
    .hide {
      visibility: hidden;
      font-size: 0;
      width: 0;
      height: 0;
    }
  
    .no-gap {
      gap: 0 !important;
    }
  }
  @media (max-width: 768px) {
    .obr {
      width: 0px;
      height: 0px;
      padding: none;
      margin: none;
    }
    .w-logo-ti {
      width: 80px;
    }
    .con-logo-sup {
      border: 2px solid black;
      box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.3);
      margin-bottom: -70px;
      z-index: 100;
      margin-top: 85px;
    }
    .text-bienve {
      font-size: 350%;
      color: white;
    }
    .text-reg {
      font-size: 450%;
    }
  }
  @media (max-width: 666px) {
    .wrap-666{
      flex-wrap: wrap;
    }
    .ma{
      margin-left: 20%;
      margin-bottom: 50px;
    }
  }
  .helvetic {
    font-family: Helvetica;
  }