<!DOCTYPE html>
<div *ngIf="!this.editOpt" style="margin-bottom: -40px; margin-top: 67px">
  <div class="waterMark position-absolute w-100 vh-100"></div>
  <div class="d-flex flex-column contenedorPrincipal">
    <!-- Contenedor principal -->
    <div
      class="position-absolute contenedorPrincipal d-flex flex-column justify-content-center align-items-center gap-5"
    >
      <div class="d-flex flex-column justify-content-center">
        <h1 class="text-center text-white-50 mb-3 fw-bold">Mi perfil</h1>
        <main
          class="mtn1 mainSize d-flex flex-column justify-content-center align-items-center border shadow p-0 bg-body rounded-5 bg-opacity-75"
        >
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Nombre:</h2>
            <h2>{{ RegisterService.user.nombre }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Usuario:</h2>
            <h2>{{ RegisterService.user.username }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Correo:</h2>
            <h2>{{ RegisterService.user.email }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Fecha de nacimiento:</h2>
            <h2>{{ fecha }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Departamento:</h2>
            <h2>{{ RegisterService.user.departamento }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Ciudad:</h2>
            <h2>{{ RegisterService.user.ciudad }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Dirección:</h2>
            <h2>{{ RegisterService.user.direccion }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Complemento:</h2>
            <h2>{{ RegisterService.user.complemento }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Codigo Postal:</h2>
            <h2>{{ RegisterService.user.codigoPostal }}</h2>
          </div>
          <div class="d-flex gap-3 align-items-center justify-content-between">
            <h2 class="fw-bold">Teléfono:</h2>
            <h2>{{ RegisterService.user.telefono }}</h2>
          </div>
          <button
            href="#inicio"
            class="btn btn-reg fw-bold fs-3 helvetic"
            (click)="edit(RegisterService.user)"
          >
            Editar
          </button>
          <section
            class="d-flex flex-column justify-content-center align-items-center"
          ></section>
        </main>
      </div>
    </div>
  </div>
</div>

<!-- seccion de editar -->

<!-- contenedor generalcon fondo blanco -->
<div
  *ngIf="this.editOpt"
  class="d-flex container flex-column bg-white contenedor m-0 align-items-start p-0"
>
  <!-- seccion de contenido central -->
  <section class="container-fluid justify-content-center">
    <!-- imagen logo de fondo -->
    <img
      src="assets/images/LOGO-MUNDO-SOLO.png"
      alt="logo mundo solo"
      class="logo-mundo-fondo"
    />
    <!-- contenedor de las secciones de inicio de sesion y registro -->
    <div class="row justify-content-center">
      <!-- seccion de campos de registro -->
      <div
        class="col-12 col-sm-12 col-md-6 col-xl-6 col-xxl-6 bg-white p-5 mt-5"
      >
        <!-- titulo registro -->
        <div
          class="d-flex flex-wrap justify-content-center align-items-center mt-5"
        >
          <span id="inicio" class="fw-bold text-reg helvetic">{{
            RegisterService.user.nombre
          }}</span>
        </div>

        <!-- division entre el titulo y el form -->
        <div class="w-100 z-index-99">
          <div
            class="separator z-index-99"
            style="height: 0px !important; border: 1px solid black !important"
          >
            <span class="z-index-99"></span>
          </div>
        </div>
        <!-- formulario -->
        <form
          #userForm="ngForm"
          (ngSubmit)="UpdateUser(userForm)"
          class="z-index-99 position-relative"
        >
          <!-- Nombre -->
          <div class="form-group mt-3 z-index-99">
            <input
              name="_id"
              #_id="ngModel"
              [(ngModel)]="RegisterService.userToUpdate._id"
              type="text"
              value="{{ RegisterService.user._id }}"
              hidden
            />
            <label for="nombre" class="fw-bold helvetic">Nombre:</label>
            <input
              type="text"
              class="form-control input-registro"
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="RegisterService.userToUpdate.nombre"
              id="nombre"
              placeholder="Ingresa tu nombre"
              value="{{ RegisterService.user.nombre }}"
              (change)="valNombre(RegisterService.user.nombre)"
            />
          </div>
          <div *ngIf="vNombre === true" class="alert alert-danger">
            El campo nombre es obligatorio
          </div>
          <!-- Username -->
          <div class="form-group mt-3 z-index-99">
            <label for="userName" class="fw-bold helvetic">Usuario:</label>
            <input
              type="text"
              class="form-control input-registro"
              id="username"
              name="username"
              #username="ngModel"
              value="{{ RegisterService.user.username }}"
              [(ngModel)]="RegisterService.userToUpdate.username"
              (change)="valNick(RegisterService.user.username)"
              required
            />
          </div>
          <div *ngIf="vNick === true" class="alert alert-danger">
            El campo nombre es obligatorio
          </div>
          <!-- Correo -->
          <div class="form-group mt-3 z-index-99">
            <label for="email" class="fw-bold helvetic"
              >Correo electrónico:</label
            >
            <input
              type="email"
              class="form-control input-registro"
              id="email"
              placeholder="Ingresa tu correo electrónico"
              name="email"
              #email="ngModel"
              [(ngModel)]="RegisterService.userToUpdate.email"
              value="{{ RegisterService.user.email }}"
              (change)="valmail(RegisterService.user.email)"
              required
            />
          </div>
          <div *ngIf="vEmail === true" class="alert alert-danger">
            {{ error }}
          </div>
          <!-- cumpleaños -->
          <div class="form-group mt-3 z-index-99">
            <label for="cumpleaños" class="fw-bold helvetic">Cumpleaños:</label>
            <input
              type="date"
              value="{{ fecha }}"
              class="form-control input-registro"
              id="cumpleaños"
              placeholder="Ingresa tu cumpleaños"
              name="cumpleanos"
              #cumpleanos="ngModel"
              [(ngModel)]="this.fecha"
              required
            />
          </div>
          <!-- Telefono -->
          <div class="form-group mt-3 z-index-99">
            <label for="telefono" class="fw-bold helvetic">Telefono:</label>
            <input
              type="text"
              class="form-control input-registro"
              id="telefono"
              placeholder="Ingresa tu numero de telefono"
              name="telefono"
              #telefono="ngModel"
              [(ngModel)]="RegisterService.userToUpdate.telefono"
              value="{{ RegisterService.user.telefono }}"
              (change)="valTel(RegisterService.user.telefono)"
              required
            />
          </div>
          <div *ngIf="vTel === true" class="alert alert-danger">
            El campo nombre es obligatorio
          </div>
          <!-- Contraseña -->
          <div class="form-group mt-3 z-index-99">
            <label for="contraseña" class="fw-bold helvetic">Contraseña:</label>
            <input
              type="password"
              class="form-control input-registro"
              id="contraseña"
              placeholder="Ingresa una nueva contraseña"
              name="contrasena"
              #conttrasena="ngModel"
              [(ngModel)]="RegisterService.userToUpdate.contrasena"
              value="{{ RegisterService.user.contrasena }}"
              required
              (change)="valContra(RegisterService.user.contrasena)"
            />
          </div>
          <div *ngIf="vContra === true" class="alert alert-danger">
            El campo nombre es obligatorio
          </div>
          <!-- div para poner la seleccion de departamento y ciudad juntos -->
          <div class="container-fluid z-index-99">
            <div class="row">
              <!-- Departamento -->
              <div class="form-group col-6 mt-3 ps-0">
                <label for="departamento" class="fw-bold helvetic"
                  >Departamento:</label
                >
                <select
                  name="departamento"
                  #departamento="ngModel"
                  [(ngModel)]="RegisterService.userToUpdate.departamento"
                  class="form-control input-registro helvetic"
                  id="departamento"
                  value="{{ RegisterService.user.departamento }}"
                  (change)="valDepartamento(RegisterService.user.departamento)"
                >
                  <option value="">Seleccione un departamento</option>
                  <option value="Amazonas">Amazonas</option>
                  <option value="Antioquia">Antioquia</option>
                  <option value="Arauca">Arauca</option>
                  <option value="Atlántico">Atlántico</option>
                  <option value="Bolívar">Bolívar</option>
                  <option value="Boyacá">Boyacá</option>
                  <option value="Caldas">Caldas</option>
                  <option value="Caquetá">Caquetá</option>
                  <option value="Casanare">Casanare</option>
                  <option value="Cauca">Cauca</option>
                  <option value="Cesar">Cesar</option>
                  <option value="Chocó">Chocó</option>
                  <option value="Córdoba">Córdoba</option>
                  <option value="Cundinamarca">Cundinamarca</option>
                  <option value="Guainía">Guainía</option>
                  <option value="Guaviare">Guaviare</option>
                  <option value="Huila">Huila</option>
                  <option value="La Guajira">La Guajira</option>
                  <option value="Magdalena">Magdalena</option>
                  <option value="Meta">Meta</option>
                  <option value="Nariño">Nariño</option>
                  <option value="Norte de Santander">Norte de Santander</option>
                  <option value="Putumayo">Putumayo</option>
                  <option value="Quindío">Quindío</option>
                  <option value="Risaralda">Risaralda</option>
                  <option value="San Andrés y Providencia">
                    San Andrés y Providencia
                  </option>
                  <option value="Santander">Santander</option>
                  <option value="Sucre">Sucre</option>
                  <option value="Tolima">Tolima</option>
                  <option value="Valle del Cauca">Valle del Cauca</option>
                  <option value="Vaupés">Vaupés</option>
                  <option value="Vichada">Vichada</option>
                </select>
                <div *ngIf="vDepartamento === true" class="alert alert-danger">
                  El campo nombre es obligatorio
                </div>
              </div>
              <!-- Ciudad -->
              <div class="form-group col-6 mt-3 pe-0">
                <label for="ciudad" class="fw-bold helvetic">Ciudad:</label>
                <select
                  name="ciudad"
                  #ciudad="ngModel"
                  [(ngModel)]="RegisterService.userToUpdate.ciudad"
                  class="form-control input-registro helvetic"
                  id="ciudad"
                  value="{{ RegisterService.user.ciudad }}"
                  (change)="valCiudad(RegisterService.user.ciudad)"
                >
                  <option value="">Seleccione una ciudad</option>
                  <option value="Barranquilla">Barranquilla</option>
                  <option value="Bogotá">Bogotá</option>
                  <option value="Cali">Cali</option>
                  <option value="Cartagena">Cartagena</option>
                  <option value="Cúcuta">Cúcuta</option>
                  <option value="Ibagué">Ibagué</option>
                  <option value="Manizales">Manizales</option>
                  <option value="Medellín">Medellín</option>
                  <option value="Neiva">Neiva</option>
                  <option value="Pasto">Pasto</option>
                  <option value="Pereira">Pereira</option>
                  <option value="Santa Marta">Santa Marta</option>
                  <option value="Valledupar">Valledupar</option>
                  <option value="Villavicencio">Villavicencio</option>
                </select>
                <div *ngIf="vCiudad === true" class="alert alert-danger">
                  El campo nombre es obligatorio
                </div>
              </div>
            </div>
          </div>

          <!-- direccion -->
          <div class="form-group mt-3" style="z-index: 100">
            <label for="direccion" class="fw-bold helvetic" style="z-index: 100"
              >Dirección:</label
            >
            <input
              type="text"
              class="form-control input-registro"
              id="direccion"
              placeholder="Ingresa tu dirección"
              name="direccion"
              #direccion="ngModel"
              [(ngModel)]="RegisterService.userToUpdate.direccion"
              required
              value="{{ RegisterService.user.direccion }}"
              (change)="valDireccion(RegisterService.user.direccion)"
            />
          </div>
          <div *ngIf="vDireccion === true" class="alert alert-danger">
            El campo nombre es obligatorio
          </div>

          <!-- complemento de la direccion -->
          <div class="form-group mt-3 z-index-99">
            <label for="complemento" class="fw-bold helvetic"
              >Complemento:</label
            >
            <input
              type="text"
              class="form-control input-registro helvetic"
              id="complemento"
              placeholder="Ingresa el complemento de tu dirección"
              name="complemento"
              #complemento="ngModel"
              [(ngModel)]="RegisterService.userToUpdate.complemento"
              value="{{ RegisterService.user.complemento }}"
              (change)="valComplemento(RegisterService.user.complemento)"
            />
          </div>
          <div *ngIf="vComplemento === true" class="alert alert-danger">
            El campo nombre es obligatorio
          </div>
          <!-- codigo postal -->
          <div class="form-group mt-3 z-index-99">
            <label for="codigo-postal" class="fw-bold helvetic"
              >Código postal:</label
            >
            <input
              type="text"
              class="form-control input-registro helvetic"
              id="codigo-postal"
              placeholder="Ingresa tu código postal"
              name="codigoPostal"
              #codigoPostal="ngModel"
              [(ngModel)]="RegisterService.userToUpdate.codigoPostal"
              value="{{ RegisterService.user.codigoPostal }}"
              (change)="valCodigoPostal(RegisterService.user.codigoPostal)"
            />
          </div>
          <div *ngIf="vCodigoPostal === true" class="alert alert-danger">
            El campo nombre es obligatorio
          </div>
          <!-- boton de registro -->
          <div
            class="d-flex justify-content-center align-items-center mt-5 z-index-1"
          >
            <button
              type="submit"
              *ngIf="ready == false"
              disabled
              class="btn btn-reg fw-bold fs-3 helvetic"
            >
              Guardar
            </button>
            <button
              type="submit"
              *ngIf="ready == true"
              class="btn btn-reg fw-bold fs-3 helvetic"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- separador entre el contenido de la pagina y el footer -->
  <div class="w-100" style="margin-top: 150px">
    <div class="separator"></div>
  </div>
</div>
