<footer style="width: 100%" class="footer-final d-flex flex-column">
    <div class="d-flex gap-5 no-gap wrap-666">
      <div class="contacto">
        <h5 class="cont">Contacto</h5>
        <p class="m-0">Telefono: +57 322 398 91 26</p>
        <p>Dirección: Calle 127c # 03-60 LC 4</p>
        <div class="linea-azul-pequeña shadow"></div>
  
        <p class="redes-1">Síguenos en nuestras redes</p>
        <a href="https://www.instagram.com/tecno.importaciones.v"
          ><img
            class="redes"
            src="assets/images/instagram.png"
            alt="imagen de instagram"
        /></a>
        <a href="https://www.facebook.com/profile.php?id=100077833951672"
          ><img
            class="redes"
            src="assets/images/facebook.png"
            alt="imagen de facebook"
        /></a>
      </div>
  
      <div
        class="hide d-flex flex-column justify-content-center align-items-start ms-4"
      >
        <a [routerLink]="'principal/nosotros'" class="text-decoration-none text-black"
          ><h5>Sobre nosotros</h5></a
        >
        <a
          href="https://wa.me/message/Z7KUL4SEQXHTD1"
          class="text-decoration-none text-black"
          ><h5>Atención al cliente</h5></a
        >
      </div>
  
      <div
        class="hide d-flex flex-column justify-content-center align-items-start"
      >
        <a href="tus-compras.html" class="text-decoration-none text-black"
          ><h5>Métodos de pago</h5></a
        >
        <a
          href="https://wa.me/message/Z7KUL4SEQXHTD1"
          class="text-decoration-none text-black"
          ><h5>Preguntas frecuentes</h5></a
        >
      </div>
  
      <div class="d-flex justify-content-around align-items-center gap-5 ma">
        <img class="codico-qr" src="assets/images/codigo.jpg" alt="" />
        <div
          class="logo-footer d-flex justify-content-center align-items-center me-3"
        >
          <img
            class="img-2l logo-footer-img"
            src="assets/images/logo-vertical.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </footer>  