<!-- FONDO BLANCO -->
<section class="bg-light mt-3 d-flex flex-column align-items-center gap-4">
  <!-- 
      NOMBRE E IMAGEN DEL PRODUCTO -->

  <section class=" container d-flex flex-column gap-5">
    <article class="d-flex justify-content-center align-items-center gap-5 mx-auto flex-wrap margen-a">
      <div class="d-flex flex-column epa gap-3 ms-5 hide-despues">
        <!-- <div class="cont-s-1">
         <div *ngFor = "{{producto.image}}">  
            <img [src]="imagen" alt="Imagen"> </div>
        <img class="img-s" src="assets/images/GRAPHIC 2.png" alt="" />
        </div>
        <div class="cont-s-1">
          <img class="img-s" src="assets/images/GRAPHIC 2.png" alt="" />
        </div>
        <div class="cont-s-1">
          <img class="img-s" src="assets/images/GRAPHIC 2.png" alt="" />
        </div> -->
        
      
      </div>
      <div>
        <div id="carouselExampleIndicators" class="carousel slide carrusel-i" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
              class="active bg-black" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-black"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-black"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner carrusel-i">
            <div class="carousel-item active">
              <img class="img-m" src="{{ producto.image }}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img class="img-m" src="{{ producto.image }}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img class="img-m" src="{{ producto.image }}" class="d-block w-100" alt="..." />
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-column align-items-center ms-5">
        <div class="d-flex flex-column align-items-center gap-5">
          <span class="name-producto mb-4 fs-3">{{ producto.name }}</span>
        </div>
        <div class="cont-info flex-column d-flex shadow-lg">
          <span class="txt-precio"> {{ producto.price }} </span>
          <div style="margin-left: 8%" class="d-flex gap-3 align-items-center">
              <button class="btn1 shadow" (click)="narbarservice.addToCart(producto)">
                Agregar al carrito
              </button> 
          </div>
        </div>
      </div>
    </article>

    <!-- ESPECIFICACIONES -->
    <div class="caracteristicas">
      <article class="d-flex justify-content-between mt-5 gap-5 flex-wrap ms-5 fs-5">
        <div class="d-flex flex-column gap-3">
          <span class="fs-3 fw-bold fs-5"> Características destacadas:</span>
          <span class="fs-4 text-black">- {{ producto.descripcion }}". </span>
        </div>
      </article>
      <div class="linea-azul mx-auto"></div>
    </div>
  </section>
</section>