<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by id"
    >
      ID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="brand">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by brand"
    >
      Brand
    </th>
    <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="price">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by price"
    >
      Price
    </th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by stock"
    >
      Stock
    </th>
    <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
  </ng-container>
  <ng-container matColumnDef="options">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by options"
    >
      Options
    </th>
    <td mat-cell *matCellDef="let element">
      <button type="button" class="btn btn-warning me-1" (click)="editar(element.id)">Edit</button>
      <button type="button" class="btn btn-danger" (click)="delete(element.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="d-flex bg-white justify-content-between">
  <a class="btn btn-primary mt-2 ms-4" (click)="tiendaService.mostrarFormulario(true)"> Create new Item</a>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
</div>
