body {
  background-color: #bd534975;
  height: auto;
}

.desarrollo {
  min-width: 75%;
}

.img-size-fondo-desarrollo {
  max-width: 200px;
  min-width: 100px;
}

.letra-desarrollo {
  color: white;
  font-size: 400%;
  text-decoration: underline;
  margin-top: 1%;
  margin-bottom: 5%;
  font-family: Helvetica;
}

.color-blanco {
  background-color: #FFFFFF;
  padding: 10px;
}

.desarrollo-web {
  justify-content: center;
  color: white;
  text-align: center;

}

.tex-ds-web {
  background-color: #02153E;
  border-radius: 20px;
  height: 170px;
  margin-top: 10px;
}


.row {
  display: flex;
  align-items: center;
  justify-self: center;

}

.tex-web-app {
  display: flex;
  justify-items: baseline;
  background-color: #02153E;
  border-radius: 20px;
  height: 170px;
  max-width: 500PX;
}

@media (max-width: 600px) {
  .tex-web-app{
    display: table;
  }
  
}

@media (max-width: 700px) {
  .tex-web-app{
    display: table;
  }
  
}


.ds-web {
  margin: 10px;
  align-items: center;
  padding: 1%;
  max-width: 500px;
}

.tex-dw {
  padding: 20px;
  text-align: justify;
}

@media (max-width: 900px) {

  .ds-web,
  .tex-web-app,
  .tex-dw {
    height: 400px;
    align-items: baseline;
    text-align: center;
    padding: 50px;
    text-align: justify;
    justify-content: center;
  }

  .letra-desarrollo {
    font-size: 200%;

  }

  .img-size-fondo-desarrollo {
    max-width: 100px;
    min-width: 50px;
  }
}

@media (max-width: 900px) {
  .tex-ds-web {
    height: 300px;
    align-content: center;
  }
  
}

.ds-web{
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: justify;
  padding: 20px;
}



.soft {
  background-color: #02153E;
  border-radius: 20px;
  height: 170px;
  color: white;
  text-align: justify;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  padding: 20px;
}

@media (max-width:900px) {
  .soft {
    height: 400px;
    align-items: baseline;
    text-align: justify;
    margin-left: 9%;
    padding: 60px;
  }

}

