<div class="color-blanco">
    <!-- cuadro inicial desarrollo web -->
    <div class="desarrollo d-flex flex-column align-items-center mt-5"
        style="background-image: url(assets/images/cristiano-firmani-tmTidmpILWw-unsplash.jpg);">
        <img class="img-size-fondo-desarrollo mt-5" src="/assets/images/navegador-de-internet.png"
            alt="imagen de codigo">
        <span class="letra-desarrollo d-flex fw-bold">
            Desarrollo web
        </span>
    </div>

    <div class="desarrollo-web d-flex align-items-center">
        <div class="row d-flex align-items-center">
            <div class="ds-web d-flex ">
                <p class="tex-ds-web p-3">
                    <samp class=" title-software d-flex fs-3 fw-bolder">
                        DESARROLLO WEB
                    </samp>

                    El diseño web es un aspecto muy importante ya que esta es tu
                    carta de presentación con los clientes. Es importante que transmita
                    correctamente la imagen y los valores de su empresa tomando en
                    cuenta el comportamiento y los hábitos del usuario en internet para
                    brindar un experiencia agradable, simple y fácil de usar.
                </p>
            </div>
            <div class="tex-web-app d-flex ">
                <p class="tex-dw ">
                    <span class=" title-software d-flex fs-3 fw-bolder">
                        DESARROLLO WEB + APP
                    </span>
                    La usabilidad es la calidad de la experiencia del usuario al
                    interactuar con una página web. Un sitio web debe ser cómodo y
                    rápido para el usuario. Si se diseña y desarrolla de manera
                    coherente el cliente encontrará lo que busca de forma intuitiva
                    y rápida.
                </p>

            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="soft display-flex">
            <p>
                <span class=" title-software d-flex fs-3 fw-bolder">
                    APLICATIVO WEB
                </span>
                
                El diseño web es un aspecto muy importante ya que esta es tu
                carta de presentación con los clientes. Es importante que transmita
                correctamente la imagen y los valores de su empresa tomando en
                cuenta el comportamiento y los hábitos del usuario en internet para
                brindar un experiencia agradable, simple y fácil de usar.
            </p>


        </div>
    </div>

</div>

