<div class="color-blanco">
    <!-- cuadro inicial desarrollo web -->
    <div class="desarrollo d-flex flex-column align-items-center mt-5"
        style="background-image: url(assets/images/cristiano-firmani-tmTidmpILWw-unsplash.jpg);">
        <img class="img-size-fondo-desarrollo mt-5" src="/assets/images/navegador-de-internet.png"
            alt="imagen de codigo">
        <span class="letra-desarrollo d-flex fw-bold">
            Desarrollo web
        </span>
    </div>

    <div class="desarrollo-web container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="ds-web display-flex col-12 col-sm-6 col-md-6 col-xl-6 col-xxl-6">
                <p class="tex-ds-web display-flex">
                    Desarrollo web <br>

                    El diseño web es un aspecto muy importante ya que esta es tu
                    carta de presentación con los clientes. Es importante que transmita
                    correctamente la imagen y los valores de su empresa tomando en
                    cuenta el comportamiento y los hábitos del usuario en internet para
                    brindar un experiencia agradable, simple y fácil de usar.
                </p>
            </div>
            <div class="tex-web-app col-12 col-sm-6 col-md-6 col-xl-6 col-xxl-6">
                <p class="tex-dw display-flex">
                    DW + App <br>

                    La usabilidad es la calidad de la experiencia del usuario al
                    interactuar con una página web. Un sitio web debe ser cómodo y
                    rápido para el usuario. Si se diseña y desarrolla de manera
                    coherente el cliente encontrará lo que busca de forma intuitiva
                    y rápida.
                </p>

            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="soft display-flex">
            <p>
                Software a la medida <br>

                El diseño web es un aspecto muy importante ya que esta es tu
                carta de presentación con los clientes. Es importante que transmita
                correctamente la imagen y los valores de su empresa tomando en
                cuenta el comportamiento y los hábitos del usuario en internet para
                brindar un experiencia agradable, simple y fácil de usar.
            </p>


        </div>
    </div>

</div>

