<div
  class="position-fixed bg-light d-flex justify-content-center flex-wrap m-3 p-4 shadow-lg rounded"
  style="z-index: 12; overflow-y: scroll; max-height: 80%"
>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      aria-label="name"
      [(ngModel)]="tiendaService.productoFormulario.name"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Brand"
      aria-label="marca"
      [(ngModel)]="tiendaService.productoFormulario.marca"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Description"
      aria-label="descripcion"
      aria-describedby="basic-addon1"
      [(ngModel)]="tiendaService.productoFormulario.descripcion"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input
      type="text"
      class="form-control"
      placeholder="Price"
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="tiendaService.productoFormulario.price"
    />
  </div>
  <div class="input-group mb-3 w-100">
    <div class="accordion w-100">
      <div class="accordion-item w-100">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Images
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <input
              type="text"
              class="form-control mb-2"
              placeholder="Image"
              aria-label="image"
              aria-describedby="basic-addon1"
              *ngFor="
                let imagen of tiendaService.productoFormulario.image;
                let i = index
              "
              [(ngModel)]="tiendaService.productoFormulario.image[i]"
            />
            <div>
              <button
                class="mt-2 btn btn-info"
                (click)="tiendaService.productoFormulario.image.push('')"
              >
                +
              </button>
              <button
                class="mt-2 ms-2 ps-3 pe-3 btn btn-danger"
                (click)="tiendaService.productoFormulario.image.pop()"
              >
                -
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Category"
      aria-label="categoria"
      aria-describedby="basic-addon1"
      [(ngModel)]="tiendaService.productoFormulario.categoria"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="number"
      class="form-control"
      placeholder="Stock"
      aria-label="stock"
      aria-describedby="basic-addon1"
      [(ngModel)]="tiendaService.productoFormulario.stock"
    />
  </div>
  <div>
    <button class="btn btn-success me-5" (click)="guardar()">Guardar</button>
    <button
      class="btn btn-danger"
      (click)="tiendaService.mostrarFormulario(false, false)"
    >
      Cancelar
    </button>
  </div>
</div>
